// 字体颜色
$color-theme: #2c3e50;
// 明亮主题下字体颜色
$color-theme-light: #2c3e50;
// 暗黑主题下字体颜色
$color-theme-dark: #fff;
// 明亮主题下背景颜色
$bg-color-theme-light: #eee;
// 暗黑主题下背景颜色
$bg-color-theme-dark: #2c3e50;

// 明亮主题下按钮颜色
$bg-color-btn-light: #42b983;
// 暗黑主题下按钮颜色
$bg-color-btn-dark: #fff;

// 明亮主题下链接颜色
$bg-color-link-active: #42b983;
// 暗黑主题下链接颜色
$color-link-active: #eee;